@font-face {
    font-family: "Neon";
    src: url('gfx/Neon.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;

    font-family: Neon, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #CCC;
    background: #161616;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#page1, #page2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#page1 {
    z-index: 1000;
    background: url('gfx/bg.png'), #202020;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

@keyframes pageSlideOut {
    from { top: 0%; }
    to { top: -100%; }
}

@keyframes pageSlideIn {
    from { top: -100%; }
    to { top: 0%; }
}

.page-out {
    animation: pageSlideOut 0.75s forwards;
}

.page-in {
    animation: pageSlideIn 0.75s forwards;
}

#page2 {
    padding: 5px;
    z-index: 1;
    background: url('gfx/bg2.png'), #161616;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: visible;
}

.large-content-cell {
	text-align: center;
	align: center;
	padding: 80px 0 150px 0;
}

.large-content-cell table {
	margin: 0 auto;
}

table.weather-table {
	margin-top: 11px;
}
table.weather-table td {
	padding: 0;
}

img#main-weather-img {
    border: 0;
    width: 100px;
    height: 100px;
}

img.weather-img-small {
    border: 0;
    width: 35px;
    height: 35px;
}

div.small-weather-time {
    font-size: 14px;
}

.weather-hourly-item {
	display: inline-block;
	text-align: center;
	width: 42px;
}

#current-weather {
    font-size: 22px;
}

#clock {
    font-size: 130px;
}

#date {
    font-size: 50px;
}

.favs {
    width: 480px;
}

.favs a {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 5px;
    border: 2px solid #333;
    background: #252525;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.favs a:hover {
    background: #2A2A2A;
    transform: scale(1.05);
}

.favs a:active {
    background: #2A2A2A;
    transform: scale(0.95);
}

.favs a img {
    height: 16px;
    width: 16px;
    margin: 42px;
}

.tool-list {
    width: 350px;
    height: 300px;
    margin: 5px;
    border: 2px solid #333;
    background: #252525;
    text-align: center;
    padding: 0 0 40px 0;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.tool-list img {
    height: 16px;
    width: 16px;
    margin: 30px;
    border: 0;
}

.tool-list a {
    display: block;
    text-decoration: none;
    color: #a2c0ce;
    font-weight: bold;
    margin: 5px;
    font-size: 16px;
}

.tool-list a:hover {
    color: #EC6E4C;
    transform: scale(1.05);
}

.tool-list a:active {
    color: #FFFFFF;
    transform: scale(0.95);
}

span.more.empty {
    display: inline-block;
    text-decoration: none;
    color: #a2c0ce;
    font-weight: bold;
    margin: 5px;
    font-size: 16px;
    line-height: 16px;
    width: 191px;
    height: 16px;
    text-align: center;
    background: transparent;
    padding: 17px;
    border: 2px dotted #222;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

span.more.empty,
span.more.title {
    display: inline-block;
    text-decoration: none;
    color: #d39043;
    font-weight: bold;
    margin: 5px;
    font-size: 16px;
    line-height: 16px;
    width: 191px;
    height: 16px;
    background: transparent;
    padding: 31px 17px 3px 17px;
    border: 2px solid transparent;
    border-bottom: 2px solid #946f45;
}

span.more.empty {
    border-bottom: 0 none;
}

a.more {
    display: inline-block;
    text-decoration: none;
    color: #a2c0ce;
    font-weight: bold;
    margin: 5px;
    font-size: 16px;
    line-height: 16px;
    width: 191px;
    height: 16px;
    text-align: center;
    background: #252525;
    padding: 17px;
    border: 2px solid #333;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
a.more:hover {
    color: #EC6E4C;
    border: 2px solid #422f2a;
}

a.more:active {
    color: #FFFFFF;
    transform: scale(0.95);
}

a.more img {
    width: 16px;
    height: 16px;
    border: none;
    vertical-align: middle;
    margin-right: 10px;
}

a.more span {
    height: 16px;
    border: none;
    vertical-align: middle;
}

/* Scroll bar Style =========================================*/
body,
div {
  scrollbar-color: #7C7C7D #282829;
  scrollbar-width: thin;
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track
{
	background-color: #282829;
}
body::-webkit-scrollbar,
div::-webkit-scrollbar
{
	background-color: #7C7C7D;
}
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb
{
	background-color: #7C7C7D;
	border: 1px solid #282829;
}
    body::-webkit-scrollbar-thumb:hover,
    div::-webkit-scrollbar-thumb:hover
    {
	    background-color: #69696A;
	    border: 1px solid #282829;
    }
    body::-webkit-scrollbar-thumb:active,
    div::-webkit-scrollbar-thumb:active
    {
	    background-color: #474749;
	    border: 1px solid #282829;
    }
/* Scroll bar Style END =========================================*/